:root {
  --color-primary: #1c1c1d;
  --color-secondary: hsl(135, 70%, 45%);
  --color-tertiary: hsl(135, 70%, 15%);
}

body {
  background-color: black;
  overflow-x: hidden;
}

section {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  display: none;
}

#home {
  background-color: var(--color-primary);
}

#home .home-content {
  color: white;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 35vh;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  letter-spacing: .1em;
}

#resume {
  background-color: var(--color-secondary);
}

#code {
  background-color: #67e487;
}

#art {
  background-color: #0b4119;
}

#music {
  background-color: #0f5721;
}

#basketball {
  background-color: #178232;
}

.active-section {
  display: block;
  z-index: 1;
}

.inactive-section {
  display: block;
  z-index: 0;
}

.slidein-from-left {
  -webkit-animation: slidein-from-left 1s ease-in-out;
          animation: slidein-from-left 1s ease-in-out;
}

@-webkit-keyframes slidein-from-left {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slidein-from-left {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.slidein-from-right {
  -webkit-animation: slidein-from-right 1s ease-in-out;
          animation: slidein-from-right 1s ease-in-out;
}

@-webkit-keyframes slidein-from-right {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slidein-from-right {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.slideout-to-left {
  -webkit-animation: slideout-to-left 1s ease-in-out;
          animation: slideout-to-left 1s ease-in-out;
}

@-webkit-keyframes slideout-to-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slideout-to-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.slideout-to-right {
  -webkit-animation: slideout-to-right 1s ease-in-out;
          animation: slideout-to-right 1s ease-in-out;
}

@-webkit-keyframes slideout-to-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes slideout-to-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.nav-controls {
  position: fixed;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 80vh;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.nav-controls .active-control {
  background-color: var(--color-secondary) !important;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.nav-controls .control {
  padding: 1rem;
  background-color: var(--color-tertiary);
  cursor: pointer;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .8rem;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.nav-controls .control i {
  font-size: 1.5rem;
  color: white;
  pointer-events: none;
}
/*# sourceMappingURL=style.css.map */